main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about {
    display: flex;
    flex-direction: column;
    width: 600px;
    padding: 40px;
    background-color: #2d2c30ff;
    border: 2px solid #323135ff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.about-text, .about-skills {
    width: 100%;
}

.about-text h2, .about-skills h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    margin-top: 0;
    color: #ffffff;
}

.about-text p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #cccccc;
}

.about-skills {
    margin-top: 30px;
}

.skills-icons {
    display: flex;
    gap: 15px;
}

.skills-icons img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: transform 200ms ease;
}

.skills-icons img:hover {
    transform: scale(1.1);
}