<section class="about">
    <div class="about-text">
        <h2>Sobre mí</h2>
        <p>
        Soy un desarrollador apasionado por la creación de interfaces modernas y
        aplicaciones eficientes. Me especializo en Angular y JavaScript, y siempre
        busco aprender nuevas tecnologías y buenas prácticas de desarrollo.
        </p>
        <p>
        Me gusta trabajar en proyectos donde puedo combinar lógica, diseño y
        experiencia de usuario.
        </p>
    </div>

    <div class="about-skills">
    <h3>Tecnologías que uso</h3>
        <div class="skills-icons">
            <img src="assets/icons/html5.svg" alt="HTML5" title="HTML5">
            <img src="assets/icons/css3.svg" alt="CSS3" title="CSS3">
            <img src="assets/icons/javascript.svg" alt="JavaScript" title="JavaScript">
            <img src="assets/icons/angular.svg" alt="Angular" title="Angular">
            <img src="assets/icons/java.svg" alt="Java" title="Java">
            <img src="assets/icons/springboot.svg" alt="Springboot" title="Springboot">
            <img src="assets/icons/mysql.svg" alt="MySQL" title="MySQL">
        </div>
    </div>
</section>
