main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.projects {
    display: flex;
    flex-direction: column;
    width: 1000px;
    padding: 40px;
    background-color: #2d2c30ff;
    border: 2px solid #323135ff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.projects h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    margin-top: 0;
    color: #ffffff;
}

.projects p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #cccccc;
}

.projects-grid {
    display: grid;
    gap: 20px;
    margin-top: 30px;
}

