@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
	/* Fondo de cuadrícula: líneas horizontales y verticales */
	background-color: #2d2c30ff;
	background-image:
		linear-gradient(to right, #323135ff 2px, transparent 1px),
		linear-gradient(to bottom,  #323135ff 2px, transparent 1px);
	background-size: 50px 50px;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', apple-system-ui, sans-serif;
}
